<center>
  <% @demands.each do |d| %>
    <div class="demand_index container">
      <h2><%= d.name %></h2>
      <h2><%= d.description %></h2>
         <%= link_to 'Gerenciar tópicos', d, class: "btn btn-primary" %>
         <%= link_to 'Validar tópicos', d, class: "btn btn-primary" %>
      <br><br>
    </div><br>
  <% end %>

  <%= link_to 'Criar demanda', new_demand_path, class: 'btn btn-primary' %>
</center>