<h1>
  Tópicos
</h1>

<% @topics.each do |t| %>
  <div class="demand_index container">
    <h2>
      <%= t.description %>
      <br>
      <%= t.category %>
      <br>
      <%= t.notes %>
    </h2>
    <br>
    <% if ! t.sent %>
      <center>
        <%= link_to "Enviar", send_topic_path(sent: true, topic_id: t.id) , class: 'btn btn-success' %>
        <%= link_to "Excluir", t, method: :delete , class: 'btn btn-danger' %>
      </center>
    <% elsif t.accepted %>
      <h2>
        <font color="green">Tópico Aprovado!</font>
      </h2>
    <% else %>
      <h2>
        <font color="blue">Aguardando Resposta da Equipe de Marketing</font>
      </h2>
    <% end %>
    <br>
  </div>
  <br>
<% end %>
<center>
<%= link_to "Novo Tópico", new_topic_for_demand_path(id: @demand.id) , class: 'btn btn-success' %>
</center>
