<h1>Tópicos</h1>
<% @topics.each do |t| %>
  <div class="demand_index container">
    <h2>
      <%= t.description %>
      <br><br>
      <% if !t.sent %>
        <%= link_to "Enviar", send_topic_path(sent: true, topic_id: t.id) , class: 'btn btn-success' %>
        <%= link_to "Excluir", t, method: :delete , class: 'btn btn-danger' %>
      <% else %>
        <h2>
          Aguardando Resposta da Equipe de Marketing
        </h2>

      <% end %>
      <br><br>
      
    </h2>
  </div>>
<% end %>

<%= form_for @topic do |f| -%>
  <h2>
    <%= f.label :description, "Description" %>
    <br>
    <%= f.text_field :description %>
    <br><br>
    <%= f.label :category, "Category" %>
    <br>
    <%= f.text_field :category %>
    <br><br>
    <%= f.label :notes, "Notes" %>
    <br>
    <%= f.text_area :notes %>
    <br><br>
    <%= f.button :submit => "", class: "btn btn-primary", name: "demand_id", value: @demand.id %>
  </h2>
<% end %>